/*  Fonts */
@font-face {
  font-family: "OpenSans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/opensans.woff2") format("woff2"), url("/fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "OpenSans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/opensanslight.woff2") format("woff2"), url("/fonts/opensanslight.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-light", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/gilroylight.woff2") format("woff2"), url("/fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-extrabold", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/gilroyextrabold.woff2") format("woff2"), url("/fonts/gilroyextrabold.woff") format("woff");
}

/*  Variables */
:root {
  --black: #000000;
  --white: #ffffff;

  --grey: #7e7e7e;
  --grey-dark: #464646;
  --grey-darkest: #363636;
  --grey-light: #a6a6a6;
  --grey-lightest: #e5e5e5;

  --yellow: #f0c52e;
  --yellow-light: #f7e296;

  --green: #91c92f;

  --rose: #f6dada;

  --filter: #dcdcdc;
  --catalog-slider: #ebebeb;
  --form-input: #F2F2F2;
  --form-input-hover: #EAEAEA;


}

/* Global */
.page__body {
  text-align: center;

  min-height: 100%;
  min-width: 720px;
  max-width: 1160px;

  margin: 0 auto;
  padding: 0 0 40px 0;

  color: var(--black);

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  text-transform: none;

  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page a {
  text-decoration: none;
}

.page p {
  margin: 0px;
}

.page img {
  height: auto;
}

.page ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.element-interactive {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  color: var(--black);
  padding: 8px 35px;
  position: relative;
  z-index: 1;
  background-color: transparent;
}

/* !!! не работает */
.element-interactive::after,
.element-interactive:hover::after{
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  width: 100%;
  background-color: red;
  content: "";
}

.element-interactive:hover {
  background-color: var(--yellow);
  padding: 9px 43px;
}

.element-interactive:active {
  opacity: 0.3;
}

/* Page-header */
.page-header__logo:hover {
  opacity: 0.6;
}

.page-header__logo:active {
  opacity: 0.3;
}

/* Main-nav */
.main-nav {
  background-color: var(--yellow-light);
}
.nav-user {
  line-height: 20.43px;
}

.nav-basic__link,
.nav-catalog__link,
.nav-user__link {
  color: var(--black);
}

.nav-basic__link:hover,
.nav-catalog__link:hover,
.nav-user__link:hover {
  opacity: 0.6;
}

.nav-basic__link:active,
.nav-catalog__link:active,
.nav-user__link:focus {
  opacity: 0.3;
}

.nav-user__search {
  line-height: 20px;
}

.nav-user__search-text {
  background-color: inherit;
  border: none;
  color: rgba(0, 0, 0, 0.3);
}

.nav-user__search-button {
  line-height: 20px;
  text-transform: uppercase;
  padding: 15px 17px;
  border: 2px solid #000000;
  background-color: inherit;
  display: none;
}

.nav-user__search-button:hover {
  color: var(--white);
  background-color: var(--black);
}

.nav-user__search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.nav-user__search:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav-user__search:focus + .nav-user__search-button {
  color: var(--black);
  display: block;
}

.nav-basic__item {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 22.05px;
  font-weight: 800;
}

.nav-catalog__list {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

/* Sliders-promo */
.sliders-promo__sliders {
  outline: 3px solid rgba(255, 72, 0, 0.418);
  outline-offset: -3px;

  width: 1160px;
  height: 506px;

  overflow: hidden;
  position: relative;
}

.sliders-promo__wapper {
  background-color: #ddd;

  height: inherit;
  width: inherit;

  overflow: hidden;

  margin: 0;
  padding: 0;
}

.sliders-promo-list {
  height: inherit;
  width: 300%;
  margin: 0;
  padding: 0;
}

.sliders-promo__controls {
  outline: 3px solid rgb(0, 81, 255);
  outline-offset: -3px;

  text-align: center;
}

.sliders-promo__controls label {
  /* outline: 3px solid rgba(0, 255, 13, 0.938);
  outline-offset: -3px; */

  display: inline-block;

  margin: 0 4px;
  width: 14px;
  height: 14px;
  color: var(--white);

  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 50%;
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.8); */
  /* box-shadow: #ffffff 0 0 0 3px, #000000 0 0 0 2px; */
  cursor: pointer;

  /* position: absolute;
  left: 941px;
  top: 357px; */
}

.slide__selfie:checked ~ .sliders-promo__controls label[for="selfie"],
.slide__watch:checked ~ .sliders-promo__controls label[for="watch"],
.slide__quadcopter:checked ~ .sliders-promo__controls label[for="quadcopter"] {
  width: 11px;
  height: 11px;
  box-shadow: #ffffff 0 0 0 3px, #000000 0 0 0 4px;
}

.slide__selfie:checked ~ .sliders-promo__wapper .sliders-promo-list {
  transform: translateY(0);
}

.slide__watch:checked ~ .sliders-promo__wapper .sliders-promo-list {
  /* transform: translate(-960px); */
  transform: translateY(-506px);
}

.slide__quadcopter:checked ~ .sliders-promo__wapper .sliders-promo-list {
  transform: translateY(-1012px);
}

.radio {
  display: none;
}

.slider-promo {
  height: inherit;
  /* position: absolute; */
  width: 1160px;

  display: flex;
  flex-direction: row;
}

.slider-promo__number {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: #ffffff;
}

.slider-promo__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slider-promo__text {
  line-height: 20px;
}

.slider-promo__button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.slider-promo__feature {
  font-family: "Gilroy", Arial, sans-serif;
  letter-spacing: 0.1em;
}

.feature__value {
  font-size: 36px;
  line-height: 42px;
}

.feature__index {
  font-size: 13px;
  line-height: 15px;
}

/* Popular */
.popular__item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;

  width: 160px;
  height: 160px;
  background-color: var(--yellow-light);
}

.popular__item:hover {
  background-color: var(--yellow);
}

.popular__image:active {
  opacity: 0.3;
}

/* Slider-services */
.services {
  outline: 3px solid rgba(0, 255, 85, 0.418);
  outline-offset: -3px;

  width: 1158px;
  height: 188px;

  display: grid;
  grid-template-columns: 277px 874px;
}

.slider {
  background-color: var(--grey-lightest);
  background-size: 1440px 288px;
}

.slider__navigation {
  outline: 3px solid rgba(255, 30, 0, 0.418);
  outline-offset: -3px;

  display: flex;
  flex-direction: column;
  width: 277px;
  height: 188px;
}

.slider__label {
  outline: 3px solid rgba(0, 255, 213, 0.418);
  outline-offset: -3px;

  height: 22px;
  width: 112px;
  cursor: pointer;
  /* opacity: 0.5; */
  transition: all 0.4s ease;
}

.slider__label:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.switch {
  position: absolute;
  visibility: hidden;
}

.sliders {
  outline: 3px solid rgba(25, 0, 255, 0.418);
  outline-offset: -3px;

  width: 100%;
  height: 188px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.slider__wapper-text {
  transition: all 0.6s ease;
}

.slider__wapper-text {
  width: 100%;
  height: 100%;
}

.delivery:checked ~ .slider-text {
  margin-top: 0%;
}

.guarantee:checked ~ .slider-text {
  margin-top: -22%;
}

.credit:checked ~ .slider-text {
  margin-top: -43%;
}

.slider__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.slider__text {
  letter-spacing: 0.1em;
}

/* Logotypes */
.logotypes__1:hover{
  content: url("../img/logotypes/logo-Dji_on.png");
}

.logotypes__2:hover{
  content: url("../img/logotypes/logo-SPAdgets_on.png");
}

.logotypes__3:hover{
  content: url("../img/logotypes/logo-GoPro_on.png");
}

.logotypes__4:hover{
  content: url("../img/logotypes/logo-Vive_on.png");
}


/* Company-contacts */
.company-contacts__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.company-contacts__text {
  line-height: 28px;
}

/* Company */
.delivery-name__item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

/* *********** CATALOG *********** */
/* Catalog-header */
.catalog-header__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

/* Selection */
.selection__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Filter */
.selection--filter,
.selection--sort {
  background-color: var(--grey-lightest);
}
.filter-section-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  background-color: var(--filter);
}

.color,
.bluetooth,
.sort-class__item {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  /* text-align: left; */
}

.option {
  display: block;
  margin-bottom: 20px;
}

.check {
  padding-left: 20px;
}

.check__input {
  position: absolute;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__box {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-color: var(--white);
  box-shadow: 0 0 0 2px #000000;
  margin-left: -42px;
}

.check__box:hover,
.check__box:focus {
  opacity: 0.6;
}

.check__input:checked + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.077 8.75L3.385 10.5l5.077 5.25L16.923 7l-1.692-1.75-6.77 7-3.384-3.5z' fill='%23000'/%3E%3C/svg%3E");
}

.check__input:checked:hover + .check__box,
.check__input:checked:focus + .check__box {
  opacity: 0.6;
}

.check__input:checked:active + .check__box {
  background-image: none;
}

.check__input:disabled + .check__box {
  background-image: none;
  opacity: 0.25;
  color: var(--grey-light);
}

/* disabled  - !!!не работает!!! */
.check__input:disabled + .check__text {
  color: var(--grey-light);
}

/* Sort */

/* Products */
.products {
  font-family: "Gilroy", Arial, sans-serif;
  letter-spacing: 0.05em;
}

.product__title {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.product__price {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

.prodact--new {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  opacity: 0.3;
}

.comparison {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

/* Gallery */
.gallery-navigation {
  background-color: var(--catalog-slider);
}
.gallery-link,
.gallery-controls {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Footer */
.footer {
  color: var(--white);
  background-color: var(--grey-darkest);
}

.footer__logo-image:hover{
  opacity: 0.6;
}

.footer__logo-image:active{
  opacity: 0.3;
}

.footer__adress,
.footer__tel {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
}

.footer-nav-user__item {
  line-height: 20px;
  opacity: 0.7;
}

.footer-nav-basic__item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--white);
}

.footer-nav-user__link{
  color: var(--white);
  opacity: 0.7;
}

.footer-nav-user__link:hover{
  opacity: 1;
}

.footer-nav-user__link:active{
  opacity: 0.3;
}

.footer-nav-basic__link{
  color: var(--white);
}

.footer-nav-basic__link:hover{
  opacity: 0.6;
}

.footer-nav-basic__link:active{
  opacity: 0.3;
}

.footer__tel{
  color: var(--white);
}

/* Form */
.input-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.input-text {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.4;
  background-color: var(--form-input);
  border: none;
}

.input-text:hover {
  background-color: var(--form-input-hover);
}

.input-text:focus {
  background-color: var(--white);
  outline: none;
  opacity: 1;
  border: 2px solid #F7E296;
}
