/* Filter */
.filter-section {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter-section-title {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}
/* Filter-price */

/* Filter-color */

.color {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  /* text-align: left; */
}

.option {
  display: block;
  margin-bottom: 20px;
}

.check {
  padding-left: 20px;
}

.check__input {
  position: absolute;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__box {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-color: var(--white);
  box-shadow: 0 0 0 2px #000000;
  margin-left: -42px;
}

.check__box:hover,
.check__box:focus {
  opacity: 0.6;
}

.check__input:checked + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.077 8.75L3.385 10.5l5.077 5.25L16.923 7l-1.692-1.75-6.77 7-3.384-3.5z' fill='%23000'/%3E%3C/svg%3E");
}

.check__input:checked:hover + .check__box,
.check__input:checked:focus + .check__box {
  opacity: 0.6;
}

.check__input:checked:active + .check__box {
  background-image: none;
}

.check__input:disabled + .check__box {
  background-image: none;
  opacity: 0.25;
  color: var(--grey-light);
}

/* disabled  - !!!не работает!!! */
.check__input:disabled + .check__text {
  color: var(--grey-light);
}
