/* Sliders-promo */
.sliders-promo__sliders {
  outline: 3px solid rgba(255, 72, 0, 0.418);
  outline-offset: -3px;

  width: 1160px;
  height: 506px;

  overflow: hidden;
  position: relative;
}

.sliders-promo__wapper {
  background-color: #ddd;

  height: inherit;
  width: inherit;

  overflow: hidden;

  margin: 0;
  padding: 0;
}

.sliders-promo-list {
  height: inherit;
  width: 300%;
  margin: 0;
  padding: 0;
}

.slider-promo {
  height: inherit;
  /* position: absolute; */
  width: 1160px;

  display: flex;
  flex-direction: row;
}

.sliders-promo__controls {
  outline: 3px solid rgb(0, 81, 255);
  outline-offset: -3px;

  text-align: center;
}

.sliders-promo__controls label {
  /* outline: 3px solid rgba(0, 255, 13, 0.938);
  outline-offset: -3px; */

  display: inline-block;

  margin: 0 4px;
  width: 14px;
  height: 14px;
  color: var(--white);

  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 50%;
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.8); */
  /* box-shadow: #ffffff 0 0 0 3px, #000000 0 0 0 2px; */
  cursor: pointer;

  /* position: absolute;
  left: 941px;
  top: 357px; */
}

.slide__selfie:checked ~ .sliders-promo__controls label[for="selfie"],
.slide__watch:checked ~ .sliders-promo__controls label[for="watch"],
.slide__quadcopter:checked ~ .sliders-promo__controls label[for="quadcopter"] {
  width: 11px;
  height: 11px;
  box-shadow: #ffffff 0 0 0 3px, #000000 0 0 0 4px;
}

.slide__selfie:checked ~ .sliders-promo__wapper .sliders-promo-list {
  transform: translateY(0);
}

.slide__watch:checked ~ .sliders-promo__wapper .sliders-promo-list {
  /* transform: translate(-960px); */
  transform: translateY(-506px);
}

.slide__quadcopter:checked ~ .sliders-promo__wapper .sliders-promo-list {
  transform: translateY(-1012px);
}

.radio {
  display: none;
}
