:root {
  --black: #000000;
  --white: #FFFFFF;

  --grey: #7e7e7e;
  --grey-dark: #464646;
  --grey-darkest: #363636;
  --grey-light: #a6a6a6;
  --grey-lightest: #e5e5e5;

  --yellow: #f0c52e;
  --yellow-light: #f7e296;

  --green: #91c92f;

  --rose: #f6dada;
}
